.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #abb8c3; /* Cor de fundo com base na sua paleta */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9b51e0; /* Cor do texto para melhor contraste */
  padding: 20px; /* Adicionando um pouco de padding */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border-radius: 8px; /* Bordas arredondadas */
}

.App-link {
  color: #ff6900; /* Cor do link */
  text-decoration: none; /* Remover sublinhado */
  font-weight: bold; /* Negrito para destaque */
  transition: color 0.3s; /* Transição suave ao passar o mouse */
}

.App-link:hover {
  color: #e05c00; /* Cor ao passar o mouse */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
